In [4]:
import pandas as pd

In [6]:
df = pd.read_csv('iris.data')

In [7]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [11]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [12]:
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [13]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [21]:
import tensorflow as tf
from tensorflow import keras

In [26]:
model = keras.Sequential([ 
    keras.layers.Dense(4, input_shape=(4,), activation='relu')),
    keras.layers.Dense(3, activation='softmax')
])
model.summary()

SyntaxError: invalid syntax (<ipython-input-26-a7c44c7be72e>, line 2)